@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.LandingMain{
    height:90vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
}

.LandingContent{
    top:100px;
    bottom:100px;
    background-color: whitesmoke;
    border:1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:70px 70px;
    gap:50px;
    box-sizing: border-box;
    box-shadow: rgb(205, 228, 255) 5px;
}

.LandingHeading{
    font-size:46px;
    font-weight: 600;
}
.Landingdesc{
    font-size: 20px;
}